<div class="right-bar">
  <h5>メニュー表示</h5>
  <h5>(追加、編集、削除、詳細＋何かあれば追加)</h5>
  <div class="menu">
    <%# 投稿画面へ %>
    <%= link_to 'スタイルを追加', new_post_path %><br />
    <%# 編集画面へ %>
    <%# link_to 'スタイルを編集', '#' %><br />
    <%# 削除画面へ %>
    <%# link_to 'スタイルを削除', '#' %><br />
    <%# 詳細画面へ %>
    <%# link_to 'スタイルの詳細', '#' %><br />
  </div>
</div>