  <div class="right-bar">
    <div class="menu">
      <div class="menu-title">
        <h3>メインメニュー</h3>
      </div>
      <div class="menu-list">
        <%= link_to 'スタイルを登録', new_post_path, class: "menu-item" %><br />
        <%= link_to 'スタイルを編集', search_edit_posts_path, class: "menu-item" %><br />
        <%= link_to 'スタイルを削除', search_destroy_posts_path, class: "menu-item" %><br />
        <%= link_to 'スタイルの詳細', search_show_posts_path, class: "menu-item" %><br />
      </div>
    </div>
  </div>