<main class="main">
  <div class="inner">
    <div class="main-page">
    <div class="left-bar">
        <h1>登録ページ</h1><br />
        <h2>登録したい服の画像の情報を入力</h2>
        <%= render partial: "form"%>
        </div>
      <%= render partial:"main_menu" %>
    </div>
  </div>
</main>