<main class="main">
  <div class="inner">
    <div class="main-page">
      <div class="left-bar">
         <h1>検索結果</h1>
            <% @results.each do |result| %>
              <%= link_to edit_post_path(@post) do %>
              <%= image_tag result.image.variant(resize: '100x100') %>
              <% end%>
            <% end %>
        <%= link_to 'もどる', root_path %>
      </div>
      <%= render partial:"main_menu" %>
    </div>
  </div>
</main>