<h1>検索結果</h1>

<% if @results.length !=0 %>
  <% @results.each do |result| %>
      <%= result.season %>
      <%= result.gender %>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>

<%= render partial:"main_page" %>