<h1>検索結果</h1>
<% if @results.length == 0 %>
  <h3>検索結果ヒットしませんでした</h3>
<% else %>
  <% @results.each do |result| %>
  <%= image_tag result.image.variant(resize: '200x200') %>
  <% end %>
<% end %>
<%= link_to 'もどる', root_path %>