<div class="set-style">検索結果</div><br />
  <div class="style-set-main">
    <h2 class="style-set-title"></h2>
      <% if @results.length == 0 %>
      <h3>検索結果ヒットしませんでした</h3>
      <% else %>
      <div class="style">
        <% @results.each do |result| %>
          <%= link_to  post_path(result),method: :delete, data: { confirm: '削除しますか？' } do %>
            <% result.images.each do |image|%>
              <%= image_tag image, class:"image-small" %>
            <% end %>
          <% end %>
        <% end %>
        </div>
      <% end %>
      <%= paginate @post, class:"pagination" %>
      <div class="re-btn">
        <%= link_to 'もどる', root_path %>
      </div>
  </div>
