<main class="main">
  <div class="inner">
    <div class="main-page">
      <div class="left-bar">
        <h1>詳細ページ</h1><br />
      </div>
      <%= render partial:"main_menu" %>
    </div>
  </div>
</main>