<main class="main">
  <div class="inner">
    <div class="main-page">
      <div class="left-bar">
        <h1>詳細ページ</h1><br />
      <% if user_signed_in? %>
          <%# link_to "編集する", edit_post_path(@post) %>
          <%# link_to "削除する", prototype_path(@post), method: :delete %>
        </div>
      <% end %>
        <%# image_tag @post.image %>
        <%= "" %>
        <%= "" %>
        </div>
      <%= render partial:"main_menu" %>
    </div>
  </div>
</main>