img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.image-small{
  height: 125px;
  width: 125px;
  object-fit: contain;
  margin: 10px;
}

.image-big{
  height: 300px;
  width: 300px;
  object-fit: contain;
  background-color: white;
  margin: 20px;
}

.image-bigger{
  height: 400px;
  width: 400px;
  object-fit: contain;
  background-color: white;
  margin: 20px;
  
}