img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.image-small{
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.image-big{
  height: 300px;
  width: 300px;
  object-fit: contain;
}