/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/*ヘッダー*/
header {
  padding: 10px;
  border-bottom: 1px solid #402717;
  background-color:#e1eec1;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.left-header{
  font-family: Comic Sans MS;
  color: black;
  
}

.right-header{
  color: black;
}

/*メイン*/
.main-page {
  display: flex;
  position: relative;
}
.left-bar {
  background-color: #FFFFFF;
  width: 80%;
  height: 80vh;
  color: black;
  margin: 10px;
  padding: 10px;
}
.right-bar {
  background-color: #fffac2;
  width: 20%;
  color: black;
  margin: 10px;
  padding: 10px;
  border:  1px solid #402717;
}

/*サイドメニュー*/
.menu-title {
border-bottom: 2px solid #0bd;
text-align: center;
}

.menu-list{
  font-size:15px;
  padding:5px 20px;
}

.menu-item{
  border-bottom:1px solid black;
  display: block;
  color:#33160e;
  text-decoration: none;
  padding:5px 0px;
}

.under-bar{
  border-bottom:1px dashed;
}